// Define variables for your color scheme

// For example:

$misty_gray: #F6F8FA;

$red: #FD1015;
$blue: #083A4F;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
