<footer class="aurora-footer">

  <span class="footer-copy">© <%= Time.current.year %> Aurora. All rights reserved.</span>

  <div class="footer-social-section">
    <div class="elementor-social-icons-wrapper elementor-grid" role="list">

      <span class="elementor-grid-item" role="listitem">
          <a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin-in elementor-repeater-item-298c2fb" href="https://www.linkedin.com/company/psi-cro-ag" target="_blank" title="go to the psi linkedin page">
              <span class="elementor-screen-only"></span>
              <i aria-hidden="true" class="fab fa-linkedin-in"></i>
          </a>
      </span>

      <span class="elementor-grid-item" role="listitem">
          <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-3f1b7ac" href="https://www.facebook.com/psicro" target="_blank" title="go to the psi facebook page">
              <span class="elementor-screen-only"></span>
              <i aria-hidden="true" class="fab fa-facebook-f"></i>
          </a>
      </span>

      <span class="elementor-grid-item" role="listitem">
          <a class="elementor-icon elementor-social-icon elementor-social-icon-x elementor-repeater-item-5c0ce3c" href="<%= root_path %>" target="_self" title="go to the home page">
              <span class="elementor-screen-only"></span>
              <i aria-hidden="true" class="fab fa-twitter"></i>
          </a>
      </span>

    </div>
  </div>
</footer>
