<div class="container my-3 text-center">
  <div class="row align-items-top">
    <div class="col-12 col-md-4">
      <div class="card-aurora">
        <h3 class="fw-medium">Net Worth</h3>
        <p style="color: var(--aurora-body); font-size: 0.95rem;">You are up 50% from X to Y.</p>
        <p> a</p>
        <p> b</p>
        <p> c</p>
        <p> d</p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card-aurora">
        <h3 class="fw-medium">_ Years Until Retirement</h3>
        <h3>April 2038</h3>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card-aurora">
        <h3 class="fw-medium">Life Events</h3>
        <% @months.each do |month| %>
          <% if month.events.any? %>
            <% month.events.each do |event| %>
              <p class="my-1" style="color: var(--aurora-body); font-size: 0.95rem;"><%= event[:name] %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
