<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="fw-bold my-5">Powerful Insights into Your Financial Future</h1>
    <button type="button" class="me-4 btn btn-lg btn-aurora-primary mx-1 my-3 fw-semibold" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Plan a Life Event</button>
  </div>
</div>
