<div class="container-sm mt-5">
  <div class="d-flex justify-content-start align-items-center">
    <div>
      <!-- Button to open modal -->
      <button type="button" class="me-4 btn-aurora-primary mx-1 my-3 fw-medium" data-bs-toggle="modal" data-bs-target="#exampleModal">
        + Plan a Life Event
      </button>
    </div>
  </div>
</div>
