.btn-aurora-primary {
  background: linear-gradient(135deg, var(--aurora-indigo), var(--aurora-teal));
  // background: linear-gradient(135deg, #35cba5, #5f8eff, #a260ff);
  color: #fff;
  border-radius: 999px;
  padding: 0.75rem 1.75rem;
  font-weight: 600;
  border: none;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 0.75;
    color: #fff;
  }
}

.btn-aurora-secondary {
  background: #fff;
  color: var(--aurora-navy);
  border-radius: 999px;
  padding: 0.75rem;
  font-weight: 500;
  border: 2px solid var(--aurora-navy);
  transition: opacity 0.2s ease;
  &:hover {
    border-color: transparent;
    background:
      linear-gradient(#fff, #fff) padding-box,
      linear-gradient(135deg, var(--aurora-indigo), var(--aurora-teal)) border-box;
  }
}

.btn-aurora-shortlink {
  background: #fff;
  color: var(--aurora-navy);
  border-radius: 999px;
  padding: 0.75rem;
  font-weight: 500;
  border: 3px solid rgba(212, 208, 212, 0.5);
  transition: opacity 0.5s ease;
  &:hover {
    border:3px solid transparent;
    background:
      linear-gradient(#fff, #fff) padding-box,
      linear-gradient(135deg, var(--aurora-indigo), var(--aurora-teal)) border-box;
    span {
        background: linear-gradient(135deg, var(--aurora-indigo), var(--aurora-teal));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
  }
}
