.btn-landing-page {
  color: white;
  padding: 8px 16px;
  border-radius: 50px;
  background: #0b5836;
  transition: background 0.3s ease;
}

.btn-landing-page:hover {
  background: #074326;
  color: white;
}
