.card-step {
  overflow: hidden;
  background: none;
  display: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.card-step > img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px;
}

.card-step h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-step .card-step-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-step .card-step-infos div {
  margin-left: auto;
  margin-right: auto;
}
